<!DOCTYPE html>
<html lang="en">
<head>


<meta charset="UTF-8">
<title>{% block title %}Viberr{% endblock %}</title>
{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'produit/css/import/bootstrap.min.css' %}"/> 
<link rel="stylesheet" type="text/css" href="{% static 'produit/css/import/googleapis.css' %}"/>    
<link rel="stylesheet" type="text/css" href="{% static 'produit/style.css' %}"/>   

<link rel="stylesheet" type="text/css" href="{% static 'produit/css/import/bootstrap-toggle.min.css' %}"/> 
<script src="{% static 'produit/js1/import/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'produit/js1/main.js' %}"></script>
<script src="{% static 'produit/js1/main2.js' %}"></script>


<script src="{% static 'produit/js1/import/jquery.min2.js' %}"></script>
<script src="{% static 'produit/js1/import/jquery.min.js' %}"></script>
<script src="{% static 'produit/js1/import/bootstrap.min.js' %}"></script>
<script src="{% static 'produit/js1/messages.js' %}"></script>

<script src="{% static 'js/check_messages.js' %}"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
</head>
<body onload="startTime()">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'boutique:index' %}">shop</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'boutique:index' %}"><span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; Boutique</a></li>
                <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'discover:post_list' %}"><span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; discover</a></li>
                <li><a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li>           
            </ul>
<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'boutique:recherche' %}">
    <div class="form-group">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
    </div>


    <button type="submit" class="btn btn-default">Search</button>
</form>


            <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="{% url 'authontication:login_user' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Boutique
            </a>
            </li>
            <li>
            <a href="{% url 'authontication:logout_user' %}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
            </a>
            </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
{% block section %}
{% endblock %}
</body>
</html>
